/*Cabeçalho*/
header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.caixa h2 img{
	margin-right: 50%;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}
 /*Rodapé*/
footer{
    text-align: center;
    background: url("../imagem/bg.jpg");
    padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

@media screen and (max-width: 480px) {
    
	footer img, header img{
		width: 40%;
	}

    .caixa{
        width: auto;
    }
	.caixa h2 img{
		display: inline-block;
		margin: 0 auto;
		text-align: center;
		padding: 0 30%;
	}

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    nav ul{
        text-align: center;
    }

    nav a{
        font-size: 18px;  
    }

}